#main {
	width: 70vw;
	margin: 0 auto;
}


header .phone{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FF6E1F;
}

footer .phone{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*CallBack*/


	#popup__toggle{

		z-index: 1000;
		
		bottom:100px;
		right:10px;
		position:fixed;
	}

	.img-circle{
	
		z-index: 1000;

		background-color:#FF6E1F;
	  	box-sizing:content-box;
	  	-webkit-box-sizing:content-box;}

	.circlephone{
	  
		z-index: 1000;
		box-sizing:content-box;
		-webkit-box-sizing:content-box;
		border: 2px solid #FF6E1F;
		width:150px;
		height:150px;
		bottom:-25px;right:10px;
		position:absolute;
		-webkit-border-radius:100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		opacity: .5;
		-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
		-moz-animation: circle-anim 2.4s infinite ease-in-out !important;
		-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;
		animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;transition: all 0.5s;
	}

	.circle-fill{
		box-sizing:content-box;
		-webkit-box-sizing:content-box;
		background-color:#FF6E1F;
		width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
	.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
	.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(http://icons.iconarchive.com/icons/graphicloads/100-flat/64/phone-icon.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
	.img-circle:hover{opacity: 1;
	}

	@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
	  50% {transform: scale(1); opacity: 1; }   
	  100% {transform: scale(0.9);opacity: 1;}}
	 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
	  50% {-webkit-transform: scale(1);opacity: 1;}   
	  100% {-webkit-transform: scale(0.95);opacity: 1;}}
	@keyframes tossing {
	  0% {transform: rotate(-8deg);}
	  50% {transform: rotate(8deg);}
	  100% {transform: rotate(-8deg);}}
	@-webkit-keyframes tossing {
	  0% {-webkit-transform: rotate(-8deg);}
	  50% {-webkit-transform: rotate(8deg);}
	  100% {-webkit-transform: rotate(-8deg);}}
	@-moz-keyframes circle-anim {
	  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
	  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
	  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
	@-webkit-keyframes circle-anim {
	  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
	  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
	  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
	@-o-keyframes circle-anim {
	  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
	  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
	  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
	@keyframes circle-anim {
	  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
	  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
	  100% {transform: rotate(0deg) scale(1) skew(1deg);
	opacity: .1;}}
	@-moz-keyframes circle-fill-anim {
	  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
	  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
	  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	@-webkit-keyframes circle-fill-anim {
	  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
	  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
	  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	@-o-keyframes circle-fill-anim {
	  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
	  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
	  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	@keyframes circle-fill-anim {
	  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
	  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
	  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}



/*Номер телефона*/

	.phone {
		font-size: 3em;
		font-weight: bold;
		line-height: 2em;	
		z-index: 5000;
		color: black;

	}

/*Картинки*/

	.image {
		opacity: .7;
		filter: sepia(.3);
	}

	.image:hover {
		opacity: .9;
	}

	.snake {
		width: 300px;
		height: 300px;
		/*outline: 2px solid red;*/
		background-image: url(images/Snake1.png);
		background-repeat: no-repeat;
		margin: 30px auto;
		-webkit-background-size: contain;
		background-size: contain;
		
	}

/*Текст*/



	
	.allday {
		color: #4EB980;
		font-size: 2em;
		line-height: 1.4em;
		font-weight: bold;
		

		/*animation: blur .5s ease-out infinite;
		text-shadow: 0px 0px 2px #fff, 0px 0px 5px #fff;*/
		}
		
		@keyframes blur {
		from {
			text-shadow:0px 0px 20px #fff,
			   		    0px -5px 5px #CDE3FF,
					    0px -10px 20px #2237FF;
		  }
	}

	.big {
		font-size: 7em !important;
		/*padding: 0 !important;*/
		margin: .5em !important;
		animation: blur 1s ease-out infinite;
		text-shadow: 0px 0px 5px #fff, 0px 0px 15px #fff;
		}
		
		@keyframes blur {
		from {
			text-shadow:0px 0px 10px #fff,
			   		    0px -5px 20px #CDE3FF,
					    0px -10px 50px #98A2FF;
		  }
	}

/*Стрелка вверх*/

	.up-button {
		background-image: url(images/up-arrow-bw-100px.png);
		-webkit-background-size: contain;
		background-size: contain;
		background-repeat: no-repeat;
		height: 70px;
		width: 70px;
		font-weight: bolder;
	    font-size: 4em;
	    cursor: pointer;
		position: fixed;
		bottom: 3vh;
		right: 3vw;
		opacity: .7;
		/*outline: 1px solid red;*/
		box-sizing: border-box;
		/*position: fixed;*/
	}

	.up-button a {
		color: transparent;
		/*font-size: 4em;*/

	}

/*Форма*/
	form p {
		color: white;
	} 

	
	
/*Выпадающий список услуг*/

	.top-menu {
		/*display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;*/
		position: fixed;
		/*outline: 2px solid red;*/
		/*justify-content: center;*/
		z-index: 100;
		width: 100%;
	}
	
	.menu-button {
		top: 5vw;
	 	left: 3vw;
	 	position: fixed;
	 	font-weight: bolder;
	 	font-size: 4em;
	 	color:grey;
	 	cursor: pointer;
	 	/*text-shadow: 0 0 2px rgba(255, 255, 255, .7);*/
	}

	
	.services{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	 	display: none;
	 	flex-direction: column;
	 	flex-wrap: nowrap;
	 	position: fixed;
	 	top: 5vh;
		width: 100%;	
		background-color: rgba(200, 200, 200, .97);
		margin: 0  auto;
		padding: 1em;
		border-radius: 6px;
	}
	
	.services span {
		color: white;	
		font-size: 2em;
		padding: .5em;
		/*margin: .5em;*/
	}
	
	.services span a {
		color: white;	
		font-size: 1.4em;
		text-transform: uppercase;
		word-spacing: .3em;
		font-weight: bold;
	}
	
	.services span a:hover {
		color: #B9E9FF;
	}
	
	.services span a:active {
		color: #22BAFF;
	}

	.active {
		display: flex;
	}

	.cross {
		font-size: 3em;
		color: black;
		cursor: pointer;
		position: absolute;
		top: 20px;
		right: 15px;
		opacity: .5;
	}

/*Медиазапросы*/


	
	@media only screen and (max-width : 768px)  {

		.phone {
			font-size: 3em;
			margin: 0 auto;
		}
	
		.allday {
			font-size: 3em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: 1em;
			line-height: 1.5em;		
			/*text-align: center;*/
		}
	
		.menu-button {
			font-size: 5em;
		}
	
		.cross {
			font-size: 3em;
		}	
	}

	@media only screen and (max-width : 425px)  {

		.phone {
			font-size: 1.7em;
		}
	
		.allday {
			font-size: 2em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: 1em;
			text-align: center;
		}
	
		.menu-button {
			font-size: 3em;
		}
	
		.cross {
			font-size: 2em;
		}	
	}

	@media only screen and (max-width : 320px)  {

		.phone {
			font-size: 1.5em;
		}
	
		.allday {
			font-size: 1em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: .7em;
			text-align: center;
		}
	
		.menu-button {
			font-size: 3em;
		}
	
		.cross {
			font-size: 2em;
		}

		.up-button {
			transform: scale(.6);
		}	
	}

	@media only screen and (max-width : 240px)  {

		.phone {
			font-size: 1.5em;
		}
	
		.allday {
			font-size: 1em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: .6em;
			text-align: center;
		}
	
		.menu-button {
			font-size: 2em;
		}
	
		.cross {
			font-size: 2em;
		}	
	}