
#header>h1{
	font-size: 3em;
}




/*Номер телефона*/

	.phone {
		font-size: 5em;
		font-weight: bold;
		line-height: 2em;	
		z-index: 5000;
	}

/*Картинки*/

	.image {
		opacity: .7;
		filter: sepia(.3);
	}

	.image:hover {
		opacity: .9;
	}

/*Текст*/


	h3 {
		font-size: 2em;
		font-weight: 900;
		color: #E36161;
	}
	
	h2 {
		font-size: 2em;
		/*padding: 1em;*/
	}
	
	.allday {
		color: #4EB980;
		font-size: 4em;
		line-height: 1.5em;

		animation: blur 1s ease-out infinite;
		text-shadow: 0px 0px 5px #fff, 0px 0px 15px #fff;
		}
		
		@keyframes blur {
		from {
			text-shadow:0px 0px 10px #fff,
			   		    0px -5px 20px #CDE3FF,
					    0px -10px 50px #98A2FF;
		  }
	}

	.big {
		font-size: 5em;
		padding: 0;
		margin: .5em;

		animation: blur 1s ease-out infinite;		
		text-shadow: 0px 0px 5px #fff, 0px 0px 15px #fff;
		}
		
		@keyframes blur {
		from {
			text-shadow:0px 0px 10px #fff,
			   		    0px -5px 20px #CDE3FF,
					    0px -10px 50px #98A2FF;
		  }
	}

/*Стрелка вверх*/

	.up {
		background-image: url(images/up-arrow-bw-100px.png);
		-webkit-background-size: contain;
		background-size: contain;
		background-repeat: no-repeat;
		height: 70px;
		width: 70px;
		font-weight: bolder;
	    font-size: 4em;
	    cursor: pointer;
		position: fixed;
		bottom: 3vh;
		right: 3vw;
		opacity: .7;
		/*outline: 1px solid red;*/
		box-sizing: border-box;
		/*position: fixed;*/
	}

	.up a {
		color: transparent;
		/*font-size: 4em;*/

	}

/*Таблица */

	table {
		width: 70vw;
		margin: 0 auto;
	}
	
	.big-name {
		color: #4EB980;
		font-size: 2em;
		font-weight: bolder;
		text-align: center;
		text-transform: uppercase;
		line-height: 3em;
	}
	
	.name {
		color: #E36161;
		text-align: center;
		font-size: 1.3em;
		font-weight: bold;
		/*padding-left: 2em;*/
	}
	
	td {
		font-size: 1.2em;
		padding-left: 1em;
		line-height: 2em;
	}
	
	table, td, th, tr{
		/*border: 1px solid black;*/
	}
	
	tr:nth-of-type(odd) { 
	  background: #eee; 
	}

	th { 
	  background: #333; 
	  color: white; 
	  font-weight: bold; 
	}
	
/*Выпадающий список услуг*/

	.top-menu {
		/*display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;*/
		position: fixed;
		/*outline: 2px solid red;*/
		/*justify-content: center;*/
		z-index: 100;
		width: 100%;
	}
	
	.menu-button {
		top: 5vw;
	 	left: 3vw;
	 	position: fixed;
	 	font-weight: bolder;
	 	font-size: 4em;
	 	color:grey;
	 	cursor: pointer;
	 	/*text-shadow: 0 0 2px rgba(255, 255, 255, .7);*/
	}

	
	.services{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	 	display: none;
	 	flex-direction: column;
	 	flex-wrap: nowrap;
	 	position: fixed;
	 	top: 5vh;
		width: 100%;	
		background-color: rgba(200, 200, 200, .97);
		margin: 0  auto;
		padding: 1em;
		border-radius: 6px;
	}
	
	.services span {
		color: white;	
		font-size: 2em;
		padding: .5em;
		/*margin: .5em;*/
	}
	
	.services span a {
		color: white;	
		font-size: 1.4em;
		text-transform: uppercase;
		word-spacing: .3em;
		font-weight: bold;
	}
	
	.services span a:hover {
		color: #B9E9FF;
	}
	
	.services span a:active {
		color: #22BAFF;
	}

	.active {
		display: flex;
	}

	.cross {
		font-size: 3em;
		color: black;
		cursor: pointer;
		position: absolute;
		top: 20px;
		right: 15px;
		opacity: .5;
	}

/*Медиазапросы*/

	@media only screen and (max-width : 1024px)  {

		.phone {
			font-size: 4em;
		}
	
		.allday {
			font-size: 3em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: 1.4em;
			line-height: 1.2em;		
			/*text-align: center;*/
		}
	
		.menu-button {
			font-size: 5em;
		}
	
		.cross {
			font-size: 3em;
		}	
	}
	
	@media only screen and (max-width : 768px)  {

		.phone {
			font-size: 4em;
		}
	
		.allday {
			font-size: 3em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: 1em;
			line-height: 1.5em;		
			/*text-align: center;*/
		}
	
		.menu-button {
			font-size: 5em;
		}
	
		.cross {
			font-size: 3em;
		}	
	}

	@media only screen and (max-width : 425px)  {

		.phone {
			font-size: 2.5em;
		}
	
		.allday {
			font-size: 2.5em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: 1em;
			text-align: center;
		}
	
		.menu-button {
			font-size: 3em;
		}
	
		.cross {
			font-size: 2em;
		}	
	}

	@media only screen and (max-width : 320px)  {

		.phone {
			font-size: 1.5em;
		}
	
		.allday {
			font-size: 2em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: .7em;
			text-align: center;
		}
	
		.menu-button {
			font-size: 3em;
		}
	
		.cross {
			font-size: 2em;
		}

		.up {
			transform: scale(.6);
		}	
	}

	@media only screen and (max-width : 240px)  {

		.phone {
			font-size: 1.5em;
		}
	
		.allday {
			font-size: 1em;
			line-height: 2em;		
		}
	
		.services span  {
			font-size: .6em;
			text-align: center;
		}
	
		.menu-button {
			font-size: 2em;
		}
	
		.cross {
			font-size: 2em;
		}	
	}